
.star{
    display: inline-block;
}

.star svg{
    margin-right: 5px;
}
.filled svg {
    fill: var(--primary);
}
.editable {
    cursor: pointer;
}
.wrapper{
    position: relative;
}

.errorMessage {
    position: absolute;
    bottom: -20px;
    left: -10px;
    color: var(--red);
}
