.product {
    display: grid;
    grid-template-columns: [start] 70px [logoend] 30px [titlestart] calc(50% - 100px) [middle] 1fr [pricestart] auto [priceend] 40px [creditstart] auto [creditend] 40px [ratestart] auto [end];
    margin-top: 30px;
    padding: 30px;
}
.logo {
    grid-column: start / logoend;
    grid-row: 1 / span 2;
    overflow: hidden;
}
.title, .tags{
    grid-column: titlestart / middle;
}
.price, .priseTitle {
    grid-column: pricestart / priceend;
    white-space: nowrap;
}
.credit, .creditTitle {
    grid-column: creditstart / creditend;
    white-space: nowrap;
}
.rating, .rateTitle {
    grid-column: ratestart / end;
    white-space: nowrap;
}
.rateTitle a {
    color: var(--primary)
}

.description {
    grid-column: start / end;
}
.hr {
    grid-column: start / end;
}
.feature{
    grid-column: start / middle;
}
.advBlock {
    grid-column: middle / end;
}
.actions {
    grid-column: start / end;
}

.logo img {
    border-radius: 5px;
}
.title {
    align-self: flex-end;
}

.price, .credit {
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    align-self: flex-end;
}
.oldPrise{
    margin-left: 4px;
}
.credit span {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}
.rating {
    align-self: flex-end;
}
.description{
    font-size: 16px;
    line-height: 24px;
}
.priseTitle, .creditTitle, .rateTitle {
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
}

.tag {
    margin-top: 5px;
}

.reviewButton {
    margin-left: 20px;
}
.advBlock {
    margin-top: 15px;
}

.advantages {
    padding-left: 15px;
    border-left: 2px solid #1DC37E;
}

.disadvantages {
    margin-top: 15px;
    padding-left: 15px;
    border-left: 2px solid var(--red);
}

.feature{
    margin-top: 15px;
}

.characteristics{
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: flex-end;
    gap: 15px;
    margin-bottom: 15px;
    padding-right: 60px;

}
.dots {
    border-bottom:  1px dotted var(--gray);
    margin-bottom: 5px;
}
.characteristicsName{
    margin-bottom: 0;
}
.characteristicsValue {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

@media screen and (max-width: 1320px) {
    .product {
        grid-template-columns: 70px  30px  auto 40px  auto  40px 1fr;
        grid-template-areas:
        "logo . title title title title title"
        "logo . tags tags tags tags tags"
        "price price price . credit . rating"
        "priceTitle priceTitle priceTitle . creditTitle . ratingTitle"
        "hr hr hr hr hr hr hr"
        "description description description description description description description"
        "feature feature feature feature feature feature feature"
        "advBlock advBlock advBlock advBlock advBlock advBlock advBlock"
        "hr2 hr2 hr2 hr2 hr2 hr2 hr2"
        "actions actions actions actions actions actions actions";
    }
    .logo{
        grid-area: logo;
    }
    .title{
        grid-area: title;
    }
    .tags{
        grid-area: tags;
    }
    .price{
        grid-area: price;
    }
    .credit {
        grid-area: credit;
    }
    .rating {
        grid-area: rating;
    }
    .priseTitle {
        grid-area: priceTitle;
    }
    .creditTitle{
        grid-area: creditTitle;
    }
    .rateTitle {
        grid-area: ratingTitle;
    }
    .hr{
        grid-area: hr;
    }
    .description{
        grid-area: description;
    }
    .feature{
        grid-area: feature;
    }
    .advBlock{
        grid-area: advBlock;
    }
    .hr2 {
        grid-area: hr2;
    }
    .actions {
        grid-area: actions;
    }
}

.reviews {
    overflow: hidden;
    padding: 30px;
}




@media screen and (max-width: 840px) {
    .product {
        grid-template-columns: 70px  30px  1fr;
        grid-template-areas:
                "logo . title"
                "logo . tags"
                "priceTitle priceTitle price"
                "creditTitle creditTitle credit"
                "ratingTitle ratingTitle rating"
                "hr hr hr"
                "description description description"
                "feature feature feature"
                "advBlock advBlock advBlock"
                "hr2 hr2 hr2"
                "actions actions actions";
    }
    .characteristics{
        grid-template-columns: auto 1fr;
    }
    .price{
        margin-bottom: 20px;
    }
    .credit {
        margin-bottom: 20px;
    }
    .rating {
        margin-bottom: 20px;
    }
    .logo{
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 480px) {
    .product {
        grid-template-columns:1fr;
        grid-template-areas:
                "logo"
                "title"
                "tags"
                "priceTitle"
                "price"
                "creditTitle"
                "credit"
                "ratingTitle"
                "rating"
                "hr"
                "description"
                "feature"
                "advBlock"
                "hr2"
                "actions";
    }
}



