.reviewForm {
	display: grid;
	align-items: center;

	width: 100%;

	font-size: 14px;
	line-height: 24px;
	grid-template-columns: [start] auto 1fr auto [end];
	gap: 20px 30px;
}

.title {
	justify-self: left;
}

.description {
	grid-column: start/end;
}

.rating {
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 20px;
}

.submit {
	grid-column: start / end;
}

.submitButton {
	padding-right: 40px;
	padding-left: 40px;
}

.info {
	margin-left: 20px;
}

.success {
	display: grid;

	margin-top: 20px;
	padding: 10px;

	border-radius: 5px;
	background-color: var(--green-light);
	grid-template-columns: [start] auto 15px [end];
	gap: 10px;
}

.error {
	display: grid;

	margin-top: 20px;
	padding: 10px;

	border-radius: 5px;
	background-color: var(--red);
	grid-template-columns: [start] auto 15px [end];
	gap: 10px;
}

.successTitle {
	margin: 0;
}

.closeIcon {
	cursor: pointer;
}

.errorIcon {
	fill: var(--dark-red);
}

.successDescription {
	grid-column: start / end;
}

@media screen and (max-width: 1200px) {
	.reviewForm {
		grid-template-columns: [start] 1fr 1fr [end];
	}

	.rating {
		grid-column: start/end;
		justify-self: left;
	}

	.title {
		justify-self: auto;
	}

	.submit {
		display: grid;
		grid-template-columns: 1fr;
		justify-items: flex-start;
		gap: 10px;
	}
}

@media screen and (max-width: 900px) {
	.reviewForm {
		grid-template-columns: [start] 1fr [end];
	}
}
