html,
body {
	margin: 0;
	padding: 0;
	color: var(--black);
	background-color: #E5E5E5;

	font-family: 'Noto Sans', sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

* {
	box-sizing: border-box;
}

li {
	list-style: none;
}

ul {
	margin: 0;
	padding: 0;
}
p{
	margin: 0;
	padding:0;
}

:root {
	--black: #3B434E;
	--white: white;
	--gray: #C4C4C4;
	--gray-light: #EBEBEB;
	--gray-dark: #62666c;
	--primary: #6849df;
	--primary-hover: #542fd5;
	--red: #FC836D;
	--dark-red: #DE0000;
	--green: #0c6d45;
	--green-light: #C8F8E4;
	--font-family: 'Noto Sans', sans-serif;
	--inputPlaceholder: #A4A4A4
}
