html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);
	background-color: #E5E5E5;

	font-family: "Noto Sans", sans-serif;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

li {
	list-style: none;
}

ul {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

:root {
	--black: #3B434E;
	--white: white;
	--gray: #C4C4C4;
	--gray-light: #EBEBEB;
	--gray-dark: #62666C;
	--primary: #6849DF;
	--primary-hover: #542FD5;
	--red: #FC836D;
	--dark-red: #DE0000;
	--green: #0C6D45;
	--green-light: #C8F8E4;
	--font-family: "Noto Sans", sans-serif;
	--input-placeholder: #A4A4A4;
}
